<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ubi.com.mqttexample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ControlActivity" />
        <activity
            android:name=".TempActivity"
            android:label="@string/title_activity_main6" />
        <activity
            android:name=".HumActivity"
            android:label="@string/title_activity_main7" />
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_main8" />
    </application>

</manifest>